# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
out/               # Next.js / Nuxt
.build/            # Nuxt
.cache/            # Gatsby

# Local environment files
*.local
.env
.env.*             # .env.development, .env.production

# Testing
coverage/
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Deployment
.vercel/
.netlify/
.now/

# Misc
*.tgz
.pnp.*
.pnp.js
